body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.header {
  background-color: #F55A5A;
  color: white;
  margin-bottom: 60px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-image {
  width: 24px;
  margin-right: 7px;
}

.cards {
  margin: 40px;
}

.card {
  display: flex;
  margin-bottom: 30px;
}

.card-image {
  margin-right: 19px;
  width: 8rem;
}