body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.header {
  background-color: #F55A5A;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-image {
  width: 24px;
  margin-right: 7px;
}